*{
    height: auto;
}
/* Nav Bar */

.navBar {
  gap :0;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
 background-color: white;
}

.navBar img{
    height: 110px;
    width: 110px;
}
.navBar i {
    display:flex;
    align-items: center;
    font-size: 35px;
margin-right: 30px;
}

/* .navBar ul {
    display: none;
} */

  #nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 113px;
    left: -120%;
    text-align: center;
    background-color: #e9b824;
    font-size: 22px;
    transition: all .25s;
}
.navBar li {
    display: block;
    width: 10%;
}
.navBar button{
    font-size: 20px;
    width: 100%;
}
.navBar button:hover{
    width: 110%;
    font-size: 22px;
}
 #nav.show {
   left:0;
}
/* Intro section */

.main {
    top: 95px;
    margin-bottom: 70px;
}
/* footer section */
.footer{
    position: relative;
    top: 150px;
}



/* About page */

